/* css/common.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --primary-color: #414B4E;
    --secondary-color:#526164;
    --background: #f8fafc;
    --text-primary: #1e293b;
    --text-secondary: #64748b;
    --card-bg: #ffffff;
}


.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 260px;
    background: var(--card-bg);
    padding: 24px;
    box-shadow: 2px 0 12px rgba(0,0,0,0.1);
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.btn-primary {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s;
    display: block;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.btn-primary:hover {
    opacity: 0.9;
}


.nav-items li {
    list-style: none;
    margin-bottom: 12px;
}

.nav-items a {
    display: flex;
    align-items: center;
    padding: 12px;
    color: var(--text-primary);
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s;
}

.nav-items a i {
    margin-right: 12px;
    width: 20px;
}

.nav-items a:hover {
    background: #f1f5f9;
}

.nav-items .active a {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: white;
}