.ptb-mine {
    padding: 10px 0 0px 0;
}



/* 过滤器按钮样式 和 响应式切换 */
.mobile-filter {
    display: none;
    width: 200px;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    appearance: none;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") no-repeat right 1rem center/1em;
}

@media (max-width: 768px) {
    .pc-filter {
        display: none !important;
    }

    .mobile-filter {
        display: block;
    }
}